<nav class="navbar fixed-top">
  <div class="container-fluid d-flex justify-content-between">

    <div class="ms-3 d-flex justify-content-start align-items-center">
      <a href="#" class="nav-link text-white">
        <i class="bi-house custom-navbar-icon"></i>
      </a>
      <a href="#" class="nav-link text-white">
        <i class="bi-person custom-navbar-icon"></i>
      </a>
      <a href="#" class="nav-link text-white">
        <i class="bi-calendar custom-navbar-icon"></i>
      </a>
      <a href="#" class="nav-link text-white">
        <i class="bi-reception-4 custom-navbar-icon"></i>
      </a>
      <a href="#" class="nav-link text-white">
        <i class="bi-briefcase custom-navbar-icon"></i>
      </a>
      <a href="#" class="nav-link text-white ms-3">
        <p class="mt-auto mb-auto d-lg-block d-none">Khann Warsame</p>
      </a>
      <a href="#" class="nav-link text-white ms-3">
        <p class="mt-auto mb-auto d-lg-block d-none">Bookingly</p>
      </a>
      <a href="#" class="nav-link text-white ms-3">
        <p class="mt-auto mb-auto d-lg-block d-none">Dom Briggs</p>
      </a>
    </div>

    <div class="me-3 d-flex justify-content-between align-items-center">
      <div class="row d-flex justify-content-center align-items-center">
        <a class="col-1 nav-link text-white">
          <i class="bi-plus-lg custom-navbar-icon"></i>
        </a>
        <form class="col-10 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark custom-input" placeholder="Search..." aria-label="Search">
        </form>
      </div>
      <div class="">
        <button style="border: none;" class="btn dropdown-toggle d-flex justify-content-center align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <a href="#" class="d-flex justify-content-center align-items-center" aria-expanded="false">
            <img src="assets/zombie-person.jpg" alt="img" width="30" height="30" class="rounded-circle">
          </a>
          <div class="text-start me-2">
            <p class="mt-auto mb-auto text-white ms-1" style="color: gray; font-size: 0.8rem">Khann Warsame</p>
            <p class="mt-auto mb-auto ms-1" style="color: gray; font-size: 0.6rem">Khann Warsame</p>
          </div>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Option 1</a></li>
          <li><a class="dropdown-item" href="#">Option 2</a></li>
          <li><a class="dropdown-item" href="#">Option 3</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
