

@media (max-width: 768px) {
  .main-body {
    margin-top: 4rem;
    width: calc(100vw - 4.5rem);
  }

}


@media (min-width: 769px) {
  .main-body {
    margin-top: 4rem;
    width: calc(100vw - 19.5rem);
  }

}
