
main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

@media (min-width: 769px) {
  .custom-sidebar-main-icon {
    width: 5rem;
    height: 5rem;
    padding: 1rem 0 1rem 0;
    filter: brightness(0) invert(1);
  }

  .custom-sidebar-heading {
    padding: 1.5rem 0 1rem 2rem;
  }

  .custom-sidebar-item {
    padding: 1rem 0 1rem 2rem;
    text-decoration: none;
  }

  .custom-sidebar-items-header {
    padding: 1rem 0 1rem 2rem;
    text-decoration: none;
    color: gray;
  }

  .custom-sidebar-component {
    margin-top: 4rem;
    background-color: #184cac;
    width: 20rem;
    height: 100vh;
  }

  .custom-sidebar-component-header {
    margin-top: 4rem;
    background-color: #184cac;
    width: 4.5rem;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .custom-sidebar-main-icon {
    width: 2rem;
    height: 5rem;
    padding: 1rem 0 1rem 0;
    filter: brightness(0) invert(1);
  }

  .custom-sidebar-heading {
    padding: 1.5rem 0 1rem 0;
    justify-content: center;
  }

  .custom-sidebar-item {
    justify-content: center;
    text-align: center;
    padding: 1rem 0 1rem 0;
    text-decoration: none;
  }

  .custom-sidebar-items-header {
    justify-content: center;
    padding: 1rem 0 1rem 0;
    text-decoration: none;
    color: gray;
  }

  .custom-sidebar-component {
    margin-top: 4rem;
    background-color: #184cac;
    width: 5rem;
    height: 100vh;
  }

  .custom-sidebar-component-header {
    margin-top: 4rem;
    background-color: #184cac;
    width: 4.5rem;
    height: 100vh;
  }
}

.custom-sidebar-icon {
  font-size: 1.5rem;
}

.custom-sidebar-body-component {
  background-color: #184cac;
}

.custom-sidebar-hr {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 0.2rem;
  border-width: 0;
  color: #00112a;
  background-color: #00112a
}
