.organizations-body {
  width: 100%;
}

.clear-filters-button {
  border: none !important;
  outline: none;
  box-shadow: none;
}

select {
  width: 10rem;
}

.filter-select {
  background-color: #e5e5e5;
  border: none !important;
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .page-title {
    white-space: nowrap;
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) {
  .page-title {
    white-space: nowrap;
    font-size: 1.5rem;
  }
}
